.updatev-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .updatev-form {
    width: 50%;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  
  .updatev-label {
    display: block;
    margin-bottom: 5px;
  }
  
  .updatev-input {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .updatev-btn {
    padding: 10px 20px;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .updatev-btn:hover {
    background-color: #0056b3;
  }
  