.add-offline-payment {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    margin-top: 60px;
  }
  
  .add-offline-payment h2 {
    text-align: center;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input[type="text"],
  input[type="file"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  input[type="file"] {
    cursor: pointer;
  }
  
  .button-container {
    text-align: center;
  }
  
  button[type="submit"] {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #087845;
    color: #fff;
    cursor: pointer;
  }
  
  .upload-progress {
    margin-top: 20px;
    text-align: center;
  }
  
  .upload-progress p {
    margin-bottom: 5px;
  }
  