.custom-table {
  width: 100%;
  border-collapse: collapse;
  background-color: rgba(255, 255, 255, 0.8); 
  margin-bottom: 400px;
}

.custom-table th,
.custom-table td {
  padding: 8px;
  border: 1px solid #ddd;
}

.custom-table th {
  background-color: #f2f2f2;
  color: black;
}

.emph1 {
  margin-left: 570px;
  color: rgb(43, 43, 43);
}

.custom-table tr:hover {
  background-color: #f2f2f2;
}

.custom-button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.custom-button-primary {
  margin-left: 20px;
  background-color: #188b2d; 
  color: white;
}

.custom-button-primary:hover {
  background-color: #0d732ca5; 
}

.custom-button-danger {
  background-color: #dc3545; 
  color: white;
}

.custom-button-danger:hover {
  background-color: #c82333; 
}