.payroll-form-container {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  padding-right: 80px;
  padding-left: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  border: 1px solid #ddd;
  margin-top: 50px;
  margin-bottom: 50px;
}

.form-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
}

.form-input {
  width: calc(100% - 40px); /* Adjust for input padding */
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.form-input:focus {
  outline: none;
  border-color: #007bff; /* Adjust for focus color */
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25); /* Adjust for focus shadow */
}

.form-submit-btn {
  width: 100%;
  padding: 10px;
  background-color: green;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.form-submit-btn:hover {
  background-color: white;
  color: green;
}

.input-group {
  display: flex;
  align-items: center;
}

.input-group-text {
  background-color: #e9ecef;
  border: 1px solid #ced4da;
  padding: 0.375rem 0.75rem;
  border-radius: 0.25rem;
}

.input-group-prepend,
.input-group-append {
  display: flex;
}

.input-group-prepend .input-group-text {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.input-group-append .input-group-text {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
