.update-loan-container {
    margin: 50px auto;
    max-width: 400px;
    
}

.update-loan-form {
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    border: 1px solid #ddd;
    padding-right: 50px;
}

.form-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
}

.form-label {
    font-size: 1rem;
    font-weight: bold;
    color: #333;
}

.form-control {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.btn-success {
    width: 100%;
    padding: 10px;
    background-color: green;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-outline-success {
    width: 100%;
    padding: 10px;
    background-color: transparent;
    border: 1px solid green;
    color: green;
    border-radius: 5px;
    cursor: pointer;
}

.btn-success:hover {
    background-color: white;
    color: green;
}
